<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SalesModule.DataAccess.Properties.Settings.SalesModuleDBConnectionString"
            connectionString="Data Source=DESKTOP-S2F6DIB;Initial Catalog=SalesModuleDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>